{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <a href="{{ path('app_login') }}" class="btn btn-success">login</a>
    <a href="{{ path('app_register') }}" class="btn btn-primary">register</a>
    <a href="{{ path('app_step1') }}" class="btn btn-primary">step1</a>
{% endblock %}
