{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}





        <img width="150px" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="">




{{ form_start(form) }}
{{ form_row(form.content) }}
    <button type="submit" class="btn btn-success">post</button>
{{ form_end(form) }}


{% endblock %}
